[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 42320152
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
